# JWT Settings
Jwt__Key=your-secret-key-here
Jwt__Issuer=your-jwt-issuer

# MongoDB Settings
MongoDbSettings__ConnectionString=your-mongodb-connection-string
MongoDbSettings__DatabaseName=your-db-name
MongoDbSettings__TicketsCollectionName=your-tickets-collection
MongoDbSettings__UsersCollectionName=your-users-collection

# Frontend URL (for CORS)
AllowedClient=http://localhost:3000
